# Dependencies
/node_modules

# Build
/dist
/out-tsc
/tmp

# IDE
/.angular
.idea
*.swp
*.swo
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System
.DS_Store
Thumbs.db

# Environment
.env
.env.local
